## Data Note:
This dataset is the Goodreads-books dataset from Kaggle: https://www.kaggle.com/jealousleopard/goodreadsbooks.
While I really wanted to pull my own dataset using the Goodreads API, I saw that the API was no longer active after 2020, so this 2-year-old dataset works well enough. Also, this dataset might have some unusual qualities since I have heard that Goodreads data is generally a little bit of a mess.

In [87]:
import pandas as pd
import pathlib

In [88]:
data_folder = pathlib.Path.cwd()/'Data'
data_folder

PosixPath('/Users/kerstinwolf/DS Projects/GitHub/Goodreads_Book_Recommender/Data')

Some minor data cleaning needed to be performed before I was able to load in this data since there were some cases of a comma being used when it wasn't referring to a column. There were about 4 rows like this that I easily fixed in the csv file in a text editor.
Also, it looks like the illustrators are also sometimes included as an author in this dataset.

In [89]:
df = pd.read_csv(data_folder/'books.csv', sep=',')
df

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9781560254416,eng,512,156,20,12/21/2004,Da Capo Press
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08,0140110879,9780140110876,eng,635,783,56,12/1/1988,Penguin Books
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,0140131965,9780140131963,eng,415,820,95,8/1/1993,Penguin Books
11125,45639,Poor People,William T. Vollmann,3.72,0060878827,9780060878825,eng,434,769,139,2/27/2007,Ecco
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9788497646987,spa,272,113,12,5/28/2006,Edimat Libros

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  float64
 4   isbn                11127 non-null  object
 5   isbn13              11127 non-null  int64
 6   language_code       11127 non-null  object
 7     num_pages         11127 non-null  int64
 8   ratings_count       11127 non-null  int64
 9   text_reviews_count  11127 non-null  int64
 10  publication_date    11127 non-null  object
 11  publisher           11127 non-null  object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.0+ MB

Turn the isbn13 column from an integer to a string.

In [91]:
df['isbn13'] = df['isbn13'].astype(str)

Adjust the publication_date column from a string to datetime. While doing this, I kept getting an error about one of the dates not being correct, so I added errors = 'coerce' to the code so that an incorrect error with appear as NaT.

In [92]:
df['publication_date'] = pd.to_datetime(df['publication_date'], format = '%m/%d/%Y', errors = 'coerce')

In [93]:
df['publication_date'].isnull().count()

11127

Check again that all data types are correct now.

In [94]:
df.dtypes

bookID                         int64
title                         object
authors                       object
average_rating               float64
isbn                          object
isbn13                        object
language_code                 object
  num_pages                    int64
ratings_count                  int64
text_reviews_count             int64
publication_date      datetime64[ns]
publisher                     object
dtype: object

I removed the bookID column because it was unnecessary.

In [95]:
df = df.drop('bookID', 1)
df

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,2006-09-16,Scholastic Inc.
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,2004-09-01,Scholastic Inc.
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,2003-11-01,Scholastic
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,2004-05-01,Scholastic Inc.
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,2004-09-13,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...
11122,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9781560254416,eng,512,156,20,2004-12-21,Da Capo Press
11123,You Bright and Risen Angels,William T. Vollmann,4.08,0140110879,9780140110876,eng,635,783,56,1988-12-01,Penguin Books
11124,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,0140131965,9780140131963,eng,415,820,95,1993-08-01,Penguin Books
11125,Poor People,William T. Vollmann,3.72,0060878827,9780060878825,eng,434,769,139,2007-02-27,Ecco
11126,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9788497646987,spa,272,113,12,2006-05-28,Edimat Libros

Get some more information about the data that are floats and integers.

In [97]:
df.describe()

       average_rating     num_pages  ratings_count  text_reviews_count
count    11127.000000  11127.000000   1.112700e+04        11127.000000
mean         3.933631    336.376921   1.793641e+04          541.854498
std          0.352445    241.127305   1.124794e+05         2576.176608
min          0.000000      0.000000   0.000000e+00            0.000000
25%          3.770000    192.000000   1.040000e+02            9.000000
50%          3.960000    299.000000   7.450000e+02           46.000000
75%          4.135000    416.000000   4.993500e+03          237.500000
max          5.000000   6576.000000   4.597666e+06        94265.000000

Double check to make sure there are no duplicate rows in this dataset.

In [98]:
dup = df.duplicated()
for item in dup:
    #print(item)
    if item == True:
        print(item)

It looks like we have a variety of books in different languages. Also, some books are listed as just English, while others specify US English, British Ennglish, or Canadian English.

In [99]:
df['language_code'].unique()

array(['eng', 'en-US', 'fre', 'spa', 'en-GB', 'mul', 'grc', 'enm',
       'en-CA', 'ger', 'jpn', 'ara', 'nl', 'zho', 'lat', 'por', 'srp',
       'ita', 'rus', 'msa', 'glg', 'wel', 'swe', 'nor', 'tur', 'gla',
       'ale'], dtype=object)

Notes to do next:
* Adjust langauge code to full names
* Make publication month column
* Make publication year column

Add count plot or chart showing number of books in each language

Add chart showing distribution of average ratings

Add chart showing distribution of pages

Add chart showing distribution of ratings count

Add chart showing distribution of text reviews count

Add chart looking into publication month as well as publication year

Add chart looking at number of books sold by each publisher in this dataset

Redo all charts made in this notebook into a dashboard on Tableau.